---
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
import { Toolbar } from "../../components/react/Toolbar";
---
<Layout>
    <p> lordsakj ksjd kalsjdklasjdlk </p>
    <Toolbar />
</Layout>
<Title></Title>
<style>
    p {
        max-width: 50%;
        color: red;
        background-color: aqua;
        border: green solid;
    }
</style>