---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <p> lordsakj ksjd kalsjdklasjdlk </p>

</Layout>
<Title></Title>
<style>
    p {
        max-width: 50%;
        color: red;
        background-color: aqua;
        border: green solid;
    }
</style>