---
const title = "Hola mundo!, primer projecto Astro";
const { text } = Astro.props;
---
<h1>{title}</h1>

<style>
    h1 {
        color: green;
            }
</style>


<h2>{text}</h2>

<style>
    h1 {
        color: green;
            }
</style>